<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

	<main>
		<section class="section--image">
			<img src="https://vetri-suriya.web.app/devchallenges/404-not-found/Scarecrow.png" alt="">
		</section>
		<section class="section--content">
			<h5>I have bad news for you</h5>
			<p>The page you are looking for might be removed or is temporarily unavailable</p>
			<button>back to homepage</button>
		</section>
	</main>

	<footer>
		<p>Created by - <a href="https://vetri-suriya.web.app/"><span>Vetri Suriya</span></a></p>
	</footer>
</body>
</html>
	
